In [1]:
import pandas as pd

In [25]:
df1=pd.read_csv('df1.csv')
df1.head()

,match_id,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,first_innings_total,crr,rrr,result
0,1,Pakistan,Australia,Brisbane,268,299,10,268,0.0,5.377926,0
1,1,Pakistan,Australia,Brisbane,268,298,10,268,0.0,5.395973,0
2,1,Pakistan,Australia,Brisbane,268,297,10,268,0.0,5.414141,0
3,1,Pakistan,Australia,Brisbane,267,296,10,268,1.5,5.412162,0
4,1,Pakistan,Australia,Brisbane,267,295,10,268,1.2,5.430508,0

In [26]:
df1=pd.get_dummies(df1,['batting_team','bowling_team','city'])

In [27]:
df1.replace({True: 1, False: 0}, inplace=True)

In [28]:
X=df1.drop('result',axis=1)
y=df1['result']

In [29]:
import warnings
warnings.filterwarnings('ignore')

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score,StratifiedKFold,RandomizedSearchCV
cv = StratifiedKFold(n_splits=10,random_state=1, shuffle = True)

# Logistic Regression

In [31]:
lr=LogisticRegression(solver='liblinear')

In [32]:
result = cross_val_score(lr,X,y,cv=cv,scoring='accuracy')
print(result.mean())

0.8546928625492756

# Random Forrest

In [34]:
rf=RandomForestClassifier()
result = cross_val_score(rf,X,y,cv=cv,scoring='accuracy')
print(result.mean())

0.999913782144237

# Decision Trees

In [35]:
tree=DecisionTreeClassifier()
result = cross_val_score(rf,X,y,cv=cv,scoring='accuracy')
print(result.mean())

0.999928776615031